In [1]:
from pathlib import Path
Path('sqlite_db_pythonsqlite.db').touch()

In [2]:
import sqlite3
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')
c = conn.cursor()

In [4]:
import pandas as pd
    # load the data into a Pandas DataFrame
bookings = pd.read_csv("C:/Users/shabn/OneDrive/Documents/Sprinboard/Unit16/SQLFiles_Tier_2_updated_10_13_2020/SQLFiles Tier 2/Bookings.csv")
    # write the data to a sqlite table
bookings.to_sql('bookings', conn, if_exists='append', index = False)

In [5]:
c.execute('''SELECT * FROM bookings''').fetchall()

[(0, 3, 1, '2012-07-03 11:00:00', 2),
 (1, 4, 1, '2012-07-03 08:00:00', 2),
 (2, 6, 0, '2012-07-03 18:00:00', 2),
 (3, 7, 1, '2012-07-03 19:00:00', 2),
 (4, 8, 1, '2012-07-03 10:00:00', 1),
 (5, 8, 1, '2012-07-03 15:00:00', 1),
 (6, 0, 2, '2012-07-04 09:00:00', 3),
 (7, 0, 2, '2012-07-04 15:00:00', 3),
 (8, 4, 3, '2012-07-04 13:30:00', 2),
 (9, 4, 0, '2012-07-04 15:00:00', 2),
 (10, 4, 0, '2012-07-04 17:30:00', 2),
 (11, 6, 0, '2012-07-04 12:30:00', 2),
 (12, 6, 0, '2012-07-04 14:00:00', 2),
 (13, 6, 1, '2012-07-04 15:30:00', 2),
 (14, 7, 2, '2012-07-04 14:00:00', 2),
 (15, 8, 2, '2012-07-04 12:00:00', 1),
 (16, 8, 3, '2012-07-04 18:00:00', 1),
 (17, 1, 0, '2012-07-05 17:30:00', 3),
 (18, 2, 1, '2012-07-05 09:30:00', 3),
 (19, 3, 3, '2012-07-05 09:00:00', 2),
 (20, 3, 1, '2012-07-05 19:00:00', 2),
 (21, 4, 3, '2012-07-05 18:30:00', 2),
 (22, 6, 0, '2012-07-05 13:00:00', 2),
 (23, 6, 1, '2012-07-05 14:30:00', 2),
 (24, 7, 2, '2012-07-05 18:30:00', 2),
 (25, 8, 3, '2012-07-05 12:30:00', 1),
 (26, 0, 0, '2012-07-06 08:00:00', 3),
 (27, 0, 0, '2012-07-06 14:00:00', 3),
 (28, 0, 2, '2012-07-06 15:30:00', 3),
 (29, 2, 1, '2012-07-06 17:00:00', 3),
 (30, 3, 1, '2012-07-06 11:00:00', 2),
 (31, 4, 3, '2012-07-06 12:00:00', 2),
 (32, 6, 1, '2012-07-06 14:00:00', 2),
 (33, 7, 2, '2012-07-06 08:30:00', 2),
 (34, 7, 2, '2012-07-06 13:30:00', 2),
 (35, 8, 3, '2012-07-06 15:30:00', 1),
 (36, 0, 2, '2012-07-07 08:30:00', 3),
 (37, 0, 0, '2012-07-07 12:30:00', 3),
 (38, 0, 2, '2012-07-07 14:30:00', 3),
 (39, 1, 3, '2012-07-07 08:30:00', 3),
 (40, 2, 1, '2012-07-07 09:00:00', 3),
 (41, 2, 1, '2012-07-07 11:30:00', 3),
 (42, 2, 1, '2012-07-07 16:00:00', 3),
 (43, 3, 2, '2012-07-07 12:30:00', 2),
 (44, 4, 3, '2012-07-07 11:30:00', 2),
 (45, 4, 3, '2012-07-07 14:00:00', 2),
 (46, 4, 0, '2012-07-07 17:30:00', 2),
 (47, 6, 0, '2012-07-07 08:30:00', 2),
 (48, 6, 1, '2012-07-07 10:30:00', 2),
 (49, 6, 1, '2012-07-07 14:30:00', 2),
 (50, 6, 0, '2012-07-07 16:00:00', 2),
 (51, 7, 2, '2012-07-07 11:30:00', 2),
 (52, 8, 3, '2012-07-07 16:00:00', 1),
 (53, 8, 3, '2012-07-07 17:30:00', 2),
 (54, 0, 3, '2012-07-08 13:00:00', 3),
 (55, 0, 2, '2012-07-08 17:30:00', 3),
 (56, 1, 1, '2012-07-08 15:00:00', 3),
 (57, 1, 1, '2012-07-08 17:30:00', 3),
 (58, 3, 1, '2012-07-08 11:30:00', 2),
 (59, 3, 3, '2012-07-08 18:30:00', 2),
 (60, 3, 1, '2012-07-08 19:30:00', 2),
 (61, 4, 0, '2012-07-08 11:00:00', 2),
 (62, 4, 2, '2012-07-08 16:30:00', 2),
 (63, 4, 0, '2012-07-08 18:00:00', 2),
 (64, 4, 0, '2012-07-08 19:30:00', 2),
 (65, 6, 0, '2012-07-08 14:00:00', 2),
 (66, 6, 0, '2012-07-08 18:30:00', 2),
 (67, 7, 2, '2012-07-08 11:00:00', 2),
 (68, 7, 1, '2012-07-08 16:30:00', 2),
 (69, 8, 3, '2012-07-08 10:00:00', 1),
 (70, 8, 3, '2012-07-08 16:30:00', 1),
 (71, 0, 2, '2012-07-09 12:30:00', 3),
 (72, 0, 2, '2012-07-09 15:30:00', 3),
 (73, 0, 2, '2012-07-09 19:00:00', 3),
 (74, 1, 0, '2012-07-09 13:00:00', 3),
 (75, 1, 1, '2012-07-09 19:00:00', 3),
 (76, 2, 1, '2012-07-09 09:00:00', 6),
 (77, 2, 0, '2012-07-09 19:00:00', 3),
 (78, 3, 3, '2012-07-09 17:00:00', 2),
 (79, 3, 3, '2012-07-09 18:30:00', 2),
 (80, 4, 2, '2012-07-09 11:00:00', 2),
 (81, 4, 3, '2012-07-09 14:30:00', 2),
 (82, 6, 0, '2012-07-09 14:30:00', 2),
 (83, 7, 1, '2012-07-09 15:30:00', 2),
 (84, 7, 0, '2012-07-09 18:30:00', 4),
 (85, 8, 3, '2012-07-09 09:30:00', 1),
 (86, 8, 3, '2012-07-09 16:30:00', 1),
 (87, 8, 3, '2012-07-09 20:00:00', 1),
 (88, 0, 0, '2012-07-10 11:30:00', 3),
 (89, 0, 0, '2012-07-10 16:00:00', 3),
 (90, 3, 2, '2012-07-10 08:00:00', 2),
 (91, 3, 1, '2012-07-10 11:00:00', 2),
 (92, 3, 3, '2012-07-10 15:30:00', 2),
 (93, 3, 2, '2012-07-10 16:30:00', 2),
 (94, 3, 1, '2012-07-10 18:00:00', 2),
 (95, 4, 0, '2012-07-10 10:00:00', 2),
 (96, 4, 4, '2012-07-10 11:30:00', 2),
 (97, 4, 0, '2012-07-10 15:00:00', 2),
 (98, 4, 3, '2012-07-10 17:00:00', 4),
 (99, 5, 0, '2012-07-10 08:30:00', 2),
 (100, 6, 0, '2012-07-10 14:30:00', 2),
 (101, 6, 0, '2012-07-10 19:00:00', 2),
 (102, 7, 4, '2012-07-10 08:30:00', 2),
 (103, 7, 2, '2012-07-10 17:30:00', 2),
 (104, 8, 0, '2012-07-10 11:30:00', 1),
 (105, 8, 3, '2012-07-10 12:00:00', 1),
 (106, 8, 3, '2012-07-10 19:30:00', 1),
 (107, 0, 4, '2012-07-11 08:00:00', 3),
 (108, 0, 2, '2012-07-11 10:00:00', 3),
 (109, 0, 0, '2012-07-11 12:00:00', 3),
 (110, 0, 0, '2012-07-11 14:00:00', 3),
 (111, 0, 2, '2012-07-11 15:30:00', 3),
 (112, 0, 2, '2012-07-11 18:30:00', 3),
 (113, 1, 0, '2012-07-11 12:30:00', 3),
 (114, 1, 0, '2012-07-11 16:00:00', 3),
 (115, 4, 1, '2012-07-11 08:00:00', 2),
 (116, 4, 0, '2012-07-11 09:00:00', 2),
 (117, 4, 3, '2012-07-11 11:00:00', 2),
 (118, 4, 0, '2012-07-11 15:00:00', 2),
 (119, 5, 4, '2012-07-11 17:00:00', 2),
 (120, 6, 0, '2012-07-11 14:00:00', 2),
 (121, 6, 0, '2012-07-11 19:30:00', 2),
 (122, 7, 0, '2012-07-11 08:00:00', 2),
 (123, 7, 0, '2012-07-11 14:00:00', 2),
 (124, 7, 0, '2012-07-11 16:30:00', 2),
 (125, 8, 4, '2012-07-11 11:00:00', 1),
 (126, 8, 3, '2012-07-11 13:00:00', 1),
 (127, 0, 0, '2012-07-12 13:30:00', 3),
 (128, 0, 2, '2012-07-12 16:30:00', 3),
 (129, 1, 1, '2012-07-12 11:30:00', 3),
 (130, 2, 1, '2012-07-12 09:00:00', 3),
 (131, 2, 1, '2012-07-12 18:30:00', 3),
 (132, 3, 3, '2012-07-12 18:00:00', 2),
 (133, 4, 1, '2012-07-12 16:00:00', 2),
 (134, 6, 0, '2012-07-12 12:00:00', 4),
 (135, 7, 2, '2012-07-12 08:00:00', 2),
 (136, 7, 4, '2012-07-12 13:30:00', 2),
 (137, 7, 4, '2012-07-12 16:00:00', 2),
 (138, 8, 3, '2012-07-12 16:30:00', 1),
 (139, 0, 2, '2012-07-13 10:30:00', 3),
 (140, 0, 4, '2012-07-13 14:00:00', 3),
 (141, 0, 3, '2012-07-13 17:00:00', 3),
 (142, 1, 1, '2012-07-13 15:00:00', 3),
 (143, 2, 1, '2012-07-13 09:00:00', 3),
 (144, 2, 0, '2012-07-13 15:00:00', 3),
 (145, 2, 1, '2012-07-13 16:30:00', 3),
 (146, 4, 0, '2012-07-13 11:00:00', 2),
 (147, 4, 0, '2012-07-13 13:30:00', 2),
 (148, 4, 0, '2012-07-13 15:00:00', 2),
 (149, 4, 3, '2012-07-13 16:00:00', 2),
 (150, 4, 4, '2012-07-13 17:30:00', 2),
 (151, 6, 0, '2012-07-13 09:30:00', 2),
 (152, 7, 0, '2012-07-13 08:00:00', 2),
 (153, 7, 1, '2012-07-13 11:00:00', 2),
 (154, 7, 4, '2012-07-13 12:30:00', 2),
 (155, 8, 0, '2012-07-13 15:30:00', 1),
 (156, 8, 2, '2012-07-13 18:30:00', 1),
 (157, 0, 2, '2012-07-14 08:30:00', 3),
 (158, 0, 4, '2012-07-14 11:30:00', 3),
 (159, 0, 3, '2012-07-14 15:00:00', 3),
 (160, 1, 3, '2012-07-14 10:30:00', 3),
 (161, 1, 3, '2012-07-14 12:30:00', 3),
 (162, 1, 0, '2012-07-14 14:30:00', 3),
 (163, 2, 1, '2012-07-14 08:30:00', 3),
 (164, 3, 2, '2012-07-14 16:00:00', 2),
 (165, 4, 3, '2012-07-14 08:00:00', 2),
 (166, 4, 1, '2012-07-14 14:30:00', 2),
 (167, 6, 0, '2012-07-14 09:30:00', 2),
 (168, 6, 1, '2012-07-14 12:30:00', 2),
 (169, 6, 0, '2012-07-14 15:00:00', 2),
 (170, 7, 2, '2012-07-14 12:30:00', 2),
 (171, 7, 2, '2012-07-14 15:00:00', 2),
 (172, 7, 4, '2012-07-14 16:30:00', 2),
 (173, 7, 1, '2012-07-14 19:00:00', 2),
 (174, 8, 3, '2012-07-14 09:00:00', 1),
 (175, 8, 1, '2012-07-14 17:00:00', 1),
 (176, 0, 2, '2012-07-15 08:00:00', 3),
 (177, 0, 0, '2012-07-15 16:00:00', 3),
 (178, 0, 2, '2012-07-15 19:00:00', 3),
 (179, 1, 0, '2012-07-15 10:00:00', 3),
 (180, 1, 0, '2012-07-15 12:00:00', 3),
 (181, 1, 3, '2012-07-15 15:30:00', 3),
 (182, 2, 1, '2012-07-15 13:00:00', 3),
 (183, 3, 1, '2012-07-15 17:30:00', 2),
 (184, 4, 3, '2012-07-15 11:30:00', 2),
 (185, 4, 0, '2012-07-15 15:00:00', 2),
 (186, 4, 3, '2012-07-15 17:30:00', 2),
 (187, 7, 4, '2012-07-15 14:30:00', 2),
 (188, 7, 4, '2012-07-15 17:00:00', 2),
 (189, 8, 4, '2012-07-15 10:00:00', 1),
 (190, 8, 2, '2012-07-15 12:00:00', 1),
 (191, 8, 3, '2012-07-15 12:30:00', 1),
 (192, 8, 3, '2012-07-15 13:30:00', 1),
 (193, 0, 5, '2012-07-16 11:00:00', 3),
 (194, 0, 5, '2012-07-16 19:00:00', 3),
 (195, 1, 1, '2012-07-16 08:00:00', 3),
 (196, 1, 0, '2012-07-16 12:30:00', 3),
 (197, 2, 1, '2012-07-16 16:30:00', 3),
 (198, 4, 3, '2012-07-16 09:00:00', 2),
 (199, 4, 1, '2012-07-16 11:00:00', 2),
 (200, 4, 3, '2012-07-16 12:00:00', 2),
 (201, 4, 3, '2012-07-16 17:30:00', 2),
 (202, 6, 0, '2012-07-16 18:30:00', 2),
 (203, 7, 4, '2012-07-16 08:00:00', 2),
 (204, 7, 2, '2012-07-16 11:30:00', 2),
 (205, 7, 4, '2012-07-16 12:30:00', 2),
 (206, 7, 5, '2012-07-16 14:00:00', 2),
 (207, 8, 4, '2012-07-16 12:00:00', 1),
 (208, 8, 1, '2012-07-16 15:00:00', 1),
 (209, 8, 4, '2012-07-16 18:00:00', 1),
 (210, 8, 3, '2012-07-16 19:30:00', 1),
 (211, 0, 5, '2012-07-17 12:30:00', 3),
 (212, 0, 5, '2012-07-17 18:00:00', 3),
 (213, 1, 1, '2012-07-17 10:00:00', 3),
 (214, 1, 4, '2012-07-17 14:30:00', 3),
 (215, 2, 5, '2012-07-17 10:30:00', 3),
 (216, 2, 1, '2012-07-17 12:30:00', 3),
 (217, 2, 1, '2012-07-17 15:30:00', 3),
 (218, 2, 2, '2012-07-17 19:00:00', 3),
 (219, 3, 1, '2012-07-17 14:00:00', 2),
 (220, 3, 2, '2012-07-17 15:00:00', 2),
 (221, 4, 0, '2012-07-17 09:00:00', 2),
 (222, 4, 3, '2012-07-17 10:30:00', 2),
 (223, 4, 3, '2012-07-17 12:00:00', 2),
 (224, 4, 5, '2012-07-17 16:00:00', 2),
 (225, 4, 3, '2012-07-17 18:30:00', 2),
 (226, 5, 0, '2012-07-17 13:30:00', 2),
 (227, 6, 4, '2012-07-17 12:00:00', 2),
 (228, 6, 0, '2012-07-17 14:00:00', 2),
 (229, 7, 4, '2012-07-17 08:00:00', 2),
 (230, 7, 5, '2012-07-17 14:00:00', 2),
 (231, 7, 4, '2012-07-17 16:00:00', 2),
 (232, 8, 3, '2012-07-17 08:30:00', 1),
 (233, 8, 2, '2012-07-17 11:00:00', 1),
 (234, 8, 3, '2012-07-17 11:30:00', 1),
 (235, 8, 3, '2012-07-17 14:30:00', 1),
 (236, 8, 0, '2012-07-17 15:00:00', 1),
 (237, 8, 3, '2012-07-17 15:30:00', 1),
 (238, 8, 3, '2012-07-17 18:00:00', 1),
 (239, 8, 3, '2012-07-17 20:00:00', 1),
 (240, 0, 5, '2012-07-18 13:00:00', 3),
 (241, 0, 5, '2012-07-18 17:30:00', 3),
 (242, 1, 0, '2012-07-18 14:00:00', 3),
 (243, 1, 0, '2012-07-18 16:30:00', 3),
 (244, 2, 1, '2012-07-18 14:00:00', 3),
 (245, 3, 2, '2012-07-18 11:30:00', 2),
 (246, 3, 3, '2012-07-18 19:00:00', 2),
 (247, 4, 1, '2012-07-18 08:30:00', 2),
 (248, 4, 4, '2012-07-18 10:00:00', 2),
 (249, 4, 5, '2012-07-18 19:00:00', 2),
 (250, 5, 0, '2012-07-18 14:30:00', 2),
 (251, 6, 0, '2012-07-18 10:30:00', 2),
 (252, 6, 0, '2012-07-18 13:00:00', 2),
 (253, 6, 0, '2012-07-18 15:00:00', 2),
 (254, 6, 1, '2012-07-18 19:30:00', 2),
 (255, 7, 4, '2012-07-18 08:30:00', 2),
 (256, 7, 4, '2012-07-18 11:00:00', 2),
 (257, 8, 3, '2012-07-18 11:00:00', 1),
 (258, 8, 0, '2012-07-18 13:00:00', 1),
 (259, 8, 3, '2012-07-18 14:30:00', 1),
 (260, 8, 4, '2012-07-18 16:00:00', 1),
 (261, 8, 3, '2012-07-18 16:30:00', 1),
 (262, 8, 4, '2012-07-18 20:00:00', 1),
 (263, 0, 2, '2012-07-19 08:30:00', 3),
 (264, 0, 4, '2012-07-19 10:30:00', 3),
 (265, 0, 5, '2012-07-19 12:00:00', 3),
 (266, 0, 0, '2012-07-19 13:30:00', 3),
 (267, 0, 5, '2012-07-19 16:30:00', 3),
 (268, 1, 1, '2012-07-19 11:30:00', 3),
 (269, 1, 0, '2012-07-19 15:00:00', 3),
 (270, 1, 0, '2012-07-19 18:30:00', 3),
 (271, 2, 1, '2012-07-19 09:30:00', 3),
 (272, 2, 0, '2012-07-19 11:30:00', 3),
 (273, 2, 1, '2012-07-19 14:30:00', 3),
 (274, 2, 2, '2012-07-19 16:00:00', 3),
 (275, 3, 3, '2012-07-19 08:30:00', 2),
 (276, 3, 3, '2012-07-19 17:00:00', 2),
 (277, 3, 3, '2012-07-19 18:30:00', 2),
 (278, 4, 3, '2012-07-19 12:00:00', 2),
 (279, 4, 5, '2012-07-19 14:30:00', 2),
 (280, 4, 0, '2012-07-19 16:30:00', 2),
 (281, 4, 1, '2012-07-19 18:30:00', 2),
 (282, 4, 0, '2012-07-19 19:30:00', 2),
 (283, 5, 0, '2012-07-19 08:30:00', 2),
 (284, 6, 4, '2012-07-19 12:30:00', 2),
 (285, 6, 2, '2012-07-19 14:00:00', 2),
 (286, 6, 0, '2012-07-19 15:00:00', 2),
 (287, 6, 0, '2012-07-19 16:30:00', 2),
 (288, 7, 2, '2012-07-19 13:00:00', 2),
 (289, 7, 0, '2012-07-19 14:00:00', 2),
 (290, 7, 0, '2012-07-19 16:30:00', 2),
 (291, 7, 4, '2012-07-19 17:30:00', 4),
 (292, 8, 3, '2012-07-19 11:00:00', 1),
 (293, 8, 1, '2012-07-19 13:30:00', 1),
 (294, 8, 3, '2012-07-19 14:30:00', 1),
 (295, 8, 3, '2012-07-19 18:00:00', 1),
 (296, 8, 3, '2012-07-19 20:00:00', 1),
 (297, 0, 3, '2012-07-20 08:00:00', 3),
 (298, 0, 5, '2012-07-20 12:00:00', 3),
 (299, 0, 5, '2012-07-20 14:00:00', 3),
 (300, 0, 5, '2012-07-20 17:30:00', 3),
 (301, 0, 0, '2012-07-20 19:00:00', 3),
 (302, 1, 2, '2012-07-20 08:30:00', 3),
 (303, 1, 3, '2012-07-20 12:00:00', 3),
 (304, 1, 4, '2012-07-20 13:30:00', 3),
 (305, 2, 1, '2012-07-20 14:30:00', 3),
 (306, 3, 3, '2012-07-20 15:00:00', 2),
 (307, 3, 1, '2012-07-20 17:30:00', 2),
 (308, 4, 5, '2012-07-20 08:00:00', 2),
 (309, 4, 0, '2012-07-20 13:00:00', 2),
 (310, 4, 1, '2012-07-20 16:30:00', 2),
 (311, 4, 0, '2012-07-20 17:30:00', 2),
 (312, 4, 3, '2012-07-20 18:30:00', 2),
 (313, 6, 0, '2012-07-20 11:00:00', 2),
 (314, 6, 4, '2012-07-20 12:30:00', 2),
 (315, 6, 2, '2012-07-20 15:00:00', 2),
 (316, 6, 0, '2012-07-20 16:00:00', 4),
 (317, 7, 2, '2012-07-20 12:30:00', 2),
 (318, 7, 2, '2012-07-20 16:00:00', 2),
 (319, 7, 4, '2012-07-20 19:30:00', 2),
 (320, 8, 1, '2012-07-20 09:00:00', 1),
 (321, 8, 2, '2012-07-20 12:00:00', 1),
 (322, 8, 3, '2012-07-20 19:30:00', 1),
 (323, 0, 0, '2012-07-21 08:00:00', 3),
 (324, 0, 5, '2012-07-21 11:00:00', 3),
 (325, 0, 5, '2012-07-21 13:30:00', 3),
 (326, 0, 4, '2012-07-21 15:30:00', 3),
 (327, 1, 1, '2012-07-21 09:30:00', 3),
 (328, 1, 0, '2012-07-21 11:00:00', 3),
 (329, 2, 0, '2012-07-21 10:30:00', 3),
 (330, 2, 1, '2012-07-21 13:30:00', 3),
 (331, 3, 2, '2012-07-21 08:00:00', 2),
 (332, 4, 0, '2012-07-21 09:00:00', 2),
 (333, 4, 3, '2012-07-21 10:30:00', 2),
 (334, 4, 0, '2012-07-21 14:00:00', 4),
 (335, 4, 3, '2012-07-21 16:00:00', 2),
 (336, 4, 1, '2012-07-21 17:00:00', 2),
 (337, 4, 0, '2012-07-21 19:00:00', 2),
 (338, 6, 4, '2012-07-21 08:00:00', 2),
 (339, 6, 0, '2012-07-21 09:30:00', 2),
 (340, 6, 0, '2012-07-21 12:00:00', 2),
 (341, 8, 3, '2012-07-21 09:30:00', 1),
 (342, 8, 3, '2012-07-21 11:30:00', 1),
 (343, 8, 3, '2012-07-21 18:00:00', 2),
 (344, 8, 3, '2012-07-21 19:30:00', 1),
 (345, 0, 5, '2012-07-22 10:00:00', 3),
 (346, 0, 0, '2012-07-22 16:00:00', 3),
 (347, 0, 2, '2012-07-22 18:00:00', 3),
 (348, 1, 0, '2012-07-22 08:30:00', 3),
 (349, 1, 0, '2012-07-22 10:30:00', 3),
 (350, 1, 5, '2012-07-22 18:30:00', 3),
 (351, 2, 1, '2012-07-22 08:30:00', 3),
 (352, 2, 1, '2012-07-22 13:30:00', 3),
 (353, 2, 1, '2012-07-22 16:30:00', 3),
 (354, 3, 3, '2012-07-22 11:30:00', 2),
 (355, 3, 2, '2012-07-22 14:00:00', 2),
 (356, 4, 4, '2012-07-22 08:00:00', 2),
 (357, 4, 3, '2012-07-22 10:30:00', 2),
 (358, 4, 0, '2012-07-22 12:00:00', 2),
 (359, 4, 5, '2012-07-22 13:00:00', 2),
 (360, 4, 0, '2012-07-22 16:30:00', 2),
 (361, 4, 1, '2012-07-22 18:00:00', 2),
 (362, 4, 3, '2012-07-22 19:30:00', 2),
 (363, 6, 4, '2012-07-22 10:30:00', 4),
 (364, 6, 0, '2012-07-22 14:30:00', 2),
 (365, 6, 0, '2012-07-22 16:30:00', 2),
 (366, 7, 2, '2012-07-22 10:30:00', 2),
 (367, 7, 2, '2012-07-22 12:00:00', 2),
 (368, 8, 3, '2012-07-22 16:00:00', 1),
 (369, 8, 3, '2012-07-22 17:00:00', 1),
 (370, 8, 2, '2012-07-22 17:30:00', 1),
 (371, 0, 0, '2012-07-23 09:30:00', 3),
 (372, 0, 0, '2012-07-23 12:00:00', 3),
 (373, 0, 5, '2012-07-23 17:00:00', 3),
 (374, 1, 1, '2012-07-23 10:00:00', 3),
 (375, 1, 4, '2012-07-23 12:30:00', 3),
 (376, 1, 4, '2012-07-23 15:30:00', 3),
 (377, 1, 0, '2012-07-23 17:00:00', 3),
 (378, 1, 4, '2012-07-23 19:00:00', 3),
 (379, 2, 1, '2012-07-23 08:00:00', 3),
 (380, 2, 5, '2012-07-23 11:30:00', 3),
 (381, 2, 1, '2012-07-23 13:00:00', 3),
 (382, 2, 1, '2012-07-23 15:00:00', 3),
 (383, 3, 2, '2012-07-23 09:30:00', 2),
 (384, 3, 2, '2012-07-23 19:00:00', 2),
 (385, 4, 4, '2012-07-23 10:00:00', 2),
 (386, 4, 0, '2012-07-23 16:30:00', 2),
 (387, 4, 3, '2012-07-23 19:00:00', 2),
 (388, 5, 3, '2012-07-23 13:00:00', 2),
 (389, 6, 0, '2012-07-23 13:30:00', 2),
 (390, 6, 0, '2012-07-23 15:00:00', 4),
 (391, 6, 0, '2012-07-23 19:00:00', 2),
 (392, 7, 5, '2012-07-23 16:00:00', 2),
 (393, 7, 4, '2012-07-23 18:00:00', 2),
 (394, 8, 3, '2012-07-23 08:30:00', 3),
 (395, 8, 3, '2012-07-23 11:00:00', 1),
 (396, 8, 3, '2012-07-23 14:00:00', 2),
 (397, 8, 2, '2012-07-23 15:00:00', 1),
 (398, 0, 0, '2012-07-24 11:00:00', 3),
 (399, 0, 4, '2012-07-24 13:00:00', 3),
 (400, 0, 5, '2012-07-24 14:30:00', 3),
 (401, 1, 4, '2012-07-24 11:00:00', 3),
 (402, 1, 0, '2012-07-24 16:00:00', 6),
 (403, 1, 1, '2012-07-24 19:00:00', 3),
 (404, 2, 1, '2012-07-24 09:00:00', 3),
 (405, 2, 2, '2012-07-24 12:30:00', 3),
 (406, 3, 3, '2012-07-24 09:00:00', 2),
 (407, 3, 3, '2012-07-24 17:30:00', 2),
 (408, 4, 0, '2012-07-24 08:30:00', 2),
 (409, 4, 5, '2012-07-24 09:30:00', 2),
 (410, 4, 0, '2012-07-24 11:30:00', 2),
 (411, 4, 1, '2012-07-24 14:30:00', 2),
 (412, 4, 0, '2012-07-24 15:30:00', 2),
 (413, 4, 0, '2012-07-24 17:30:00', 2),
 (414, 4, 0, '2012-07-24 19:30:00', 2),
 (415, 5, 5, '2012-07-24 16:30:00', 2),
 (416, 6, 0, '2012-07-24 09:30:00', 2),
 (417, 6, 0, '2012-07-24 14:30:00', 2),
 (418, 7, 4, '2012-07-24 09:30:00', 2),
 (419, 7, 5, '2012-07-24 11:30:00', 2),
 (420, 7, 2, '2012-07-24 16:30:00', 2),
 (421, 7, 4, '2012-07-24 18:00:00', 2),
 (422, 7, 2, '2012-07-24 19:30:00', 2),
 (423, 8, 3, '2012-07-24 08:30:00', 1),
 (424, 8, 3, '2012-07-24 10:30:00', 2),
 (425, 8, 3, '2012-07-24 12:00:00', 1),
 (426, 8, 3, '2012-07-24 14:00:00', 1),
 (427, 8, 0, '2012-07-24 15:00:00', 1),
 (428, 8, 4, '2012-07-24 16:30:00', 1),
 (429, 8, 0, '2012-07-24 20:00:00', 1),
 (430, 0, 5, '2012-07-25 08:00:00', 3),
 (431, 0, 0, '2012-07-25 12:30:00', 3),
 (432, 0, 0, '2012-07-25 16:30:00', 3),
 (433, 1, 1, '2012-07-25 08:00:00', 3),
 (434, 1, 0, '2012-07-25 10:30:00', 3),
 (435, 1, 4, '2012-07-25 15:00:00', 3),
 (436, 2, 1, '2012-07-25 13:30:00', 3),
 (437, 2, 1, '2012-07-25 17:30:00', 3),
 (438, 3, 2, '2012-07-25 10:00:00', 2),
 (439, 3, 3, '2012-07-25 14:00:00', 4),
 (440, 3, 3, '2012-07-25 17:00:00', 2),
 (441, 3, 2, '2012-07-25 18:30:00', 2),
 (442, 4, 3, '2012-07-25 08:30:00', 2),
 (443, 4, 0, '2012-07-25 09:30:00', 4),
 (444, 4, 3, '2012-07-25 11:30:00', 4),
 (445, 4, 5, '2012-07-25 13:30:00', 4),
 (446, 4, 3, '2012-07-25 16:00:00', 2),
 (447, 4, 3, '2012-07-25 18:00:00', 2),
 (448, 4, 3, '2012-07-25 19:30:00', 2),
 (449, 5, 0, '2012-07-25 18:30:00', 2),
 (450, 6, 4, '2012-07-25 08:30:00', 2),
 (451, 6, 1, '2012-07-25 09:30:00', 2),
 (452, 6, 0, '2012-07-25 12:00:00', 2),
 (453, 6, 0, '2012-07-25 13:30:00', 2),
 (454, 6, 0, '2012-07-25 16:30:00', 4),
 (455, 6, 5, '2012-07-25 19:00:00', 2),
 (456, 7, 5, '2012-07-25 10:30:00', 2),
 (457, 7, 2, '2012-07-25 14:00:00', 2),
 (458, 7, 2, '2012-07-25 16:00:00', 2),
 (459, 8, 3, '2012-07-25 08:00:00', 1),
 (460, 8, 3, '2012-07-25 10:00:00', 1),
 (461, 8, 4, '2012-07-25 14:30:00', 1),
 (462, 8, 1, '2012-07-25 16:00:00', 1),
 (463, 8, 2, '2012-07-25 20:00:00', 1),
 (464, 0, 4, '2012-07-26 09:00:00', 3),
 (465, 0, 0, '2012-07-26 11:30:00', 3),
 (466, 0, 4, '2012-07-26 18:00:00', 3),
 (467, 1, 8, '2012-07-26 08:00:00', 3),
 (468, 1, 8, '2012-07-26 11:30:00', 3),
 (469, 1, 8, '2012-07-26 13:30:00', 3),
 (470, 1, 1, '2012-07-26 15:00:00', 3),
 (471, 1, 0, '2012-07-26 16:30:00', 3),
 (472, 1, 6, '2012-07-26 19:00:00', 3),
 (473, 2, 1, '2012-07-26 08:30:00', 3),
 (474, 2, 2, '2012-07-26 11:00:00', 6),
 (475, 2, 7, '2012-07-26 14:00:00', 3),
 (476, 2, 2, '2012-07-26 17:00:00', 3),
 (477, 2, 3, '2012-07-26 19:00:00', 3),
 (478, 3, 0, '2012-07-26 09:00:00', 2),
 (479, 3, 0, '2012-07-26 13:30:00', 2),
 (480, 3, 3, '2012-07-26 16:00:00', 2),
 (481, 4, 3, '2012-07-26 08:00:00', 2),
 (482, 4, 6, '2012-07-26 09:00:00', 2),
 (483, 4, 0, '2012-07-26 12:00:00', 2),
 (484, 4, 5, '2012-07-26 13:30:00', 2),
 (485, 4, 6, '2012-07-26 16:00:00', 2),
 (486, 4, 7, '2012-07-26 17:30:00', 2),
 (487, 6, 0, '2012-07-26 10:00:00', 4),
 (488, 6, 0, '2012-07-26 13:00:00', 2),
 (489, 6, 0, '2012-07-26 19:00:00', 2),
 (490, 7, 7, '2012-07-26 09:30:00', 2),
 (491, 7, 6, '2012-07-26 11:00:00', 2),
 (492, 7, 5, '2012-07-26 12:30:00', 2),
 (493, 7, 4, '2012-07-26 13:30:00', 2),
 (494, 7, 5, '2012-07-26 17:00:00', 2),
 (495, 8, 3, '2012-07-26 12:00:00', 1),
 (496, 8, 3, '2012-07-26 13:30:00', 1),
 (497, 8, 2, '2012-07-26 15:00:00', 1),
 (498, 8, 1, '2012-07-26 16:30:00', 1),
 (499, 8, 3, '2012-07-26 17:00:00', 1),
 (500, 0, 4, '2012-07-27 08:00:00', 3),
 (501, 0, 5, '2012-07-27 11:00:00', 3),

In [6]:
bookings.head()

   bookid  facid  memid            starttime  slots
0       0      3      1  2012-07-03 11:00:00      2
1       1      4      1  2012-07-03 08:00:00      2
2       2      6      0  2012-07-03 18:00:00      2
3       3      7      1  2012-07-03 19:00:00      2
4       4      8      1  2012-07-03 10:00:00      1

In [8]:
facilities = pd.read_csv("C:/Users/shabn/OneDrive/Documents/Sprinboard/Unit16/SQLFiles_Tier_2_updated_10_13_2020/SQLFiles Tier 2/Facilities.csv")
    # write the data to a sqlite table
facilities.to_sql('facilities', conn, if_exists='append', index = False)

In [9]:
c.execute('''SELECT * FROM facilities''').fetchall()

[(0, 'Tennis Court 1', 5, 25, 10000, 200),
 (1, 'Tennis Court 2', 5, 25, 8000, 200),
 (2, 'Badminton Court', 0, 15.5, 4000, 50),
 (3, 'Table Tennis', 0, 5, 320, 10),
 (4, 'Massage Room 1', 9.9, 80, 4000, 3000),
 (5, 'Massage Room 2', 9.9, 80, 4000, 3000),
 (6, 'Squash Court', 3.5, 17.5, 5000, 80),
 (7, 'Snooker Table', 0, 5, 450, 15),
 (8, 'Pool Table', 0, 5, 400, 15)]

In [11]:
members = pd.read_csv("C:/Users/shabn/OneDrive/Documents/Sprinboard/Unit16/SQLFiles_Tier_2_updated_10_13_2020/SQLFiles Tier 2/Members.csv")
    # write the data to a sqlite table
members.to_sql('members', conn, if_exists='append', index = False)

In [12]:
c.execute("SELECT * FROM members").fetchall()

[(0,
  'GUEST',
  'GUEST',
  'GUEST',
  0,
  '(000) 000-0000',
  '',
  '2012-07-01 00:00:00'),
 (1,
  'Smith',
  'Darren',
  '8 Bloomsbury Close, Boston',
  4321,
  '555-555-5555',
  '',
  '2012-07-02 12:02:05'),
 (2,
  'Smith',
  'Tracy',
  '8 Bloomsbury Close, New York',
  4321,
  '555-555-5555',
  '',
  '2012-07-02 12:08:23'),
 (3,
  'Rownam',
  'Tim',
  '23 Highway Way, Boston',
  23423,
  '(844) 693-0723',
  '',
  '2012-07-03 09:32:15'),
 (4,
  'Joplette',
  'Janice',
  '20 Crossing Road, New York',
  234,
  '(833) 942-4710',
  '1',
  '2012-07-03 10:25:05'),
 (5,
  'Butters',
  'Gerald',
  '1065 Huntingdon Avenue, Boston',
  56754,
  '(844) 078-4130',
  '1',
  '2012-07-09 10:44:09'),
 (6,
  'Tracy',
  'Burton',
  '3 Tunisia Drive, Boston',
  45678,
  '(822) 354-9973',
  '',
  '2012-07-15 08:52:55'),
 (7,
  'Dare',
  'Nancy',
  '6 Hunting Lodge Way, Boston',
  10383,
  '(833) 776-4001',
  '4',
  '2012-07-25 08:59:12'),
 (8,
  'Boothe',
  'Tim',
  '3 Bloomsbury Close, Reading, 00234',
  234,
  '(811) 433-2547',
  '3',
  '2012-07-25 16:02:35'),
 (9,
  'Stibbons',
  'Ponder',
  '5 Dragons Way, Winchester',
  87630,
  '(833) 160-3900',
  '6',
  '2012-07-25 17:09:05'),
 (10,
  'Owen',
  'Charles',
  '52 Cheshire Grove, Winchester, 28563',
  28563,
  '(855) 542-5251',
  '1',
  '2012-08-03 19:42:37'),
 (11,
  'Jones',
  'David',
  '976 Gnats Close, Reading',
  33862,
  '(844) 536-8036',
  '4',
  '2012-08-06 16:32:55'),
 (12,
  'Baker',
  'Anne',
  '55 Powdery Street, Boston',
  80743,
  '844-076-5141',
  '9',
  '2012-08-10 14:23:22'),
 (13,
  'Farrell',
  'Jemima',
  '103 Firth Avenue, North Reading',
  57392,
  '(855) 016-0163',
  '',
  '2012-08-10 14:28:01'),
 (14,
  'Smith',
  'Jack',
  '252 Binkington Way, Boston',
  69302,
  '(822) 163-3254',
  '1',
  '2012-08-10 16:22:05'),
 (15,
  'Bader',
  'Florence',
  '264 Ursula Drive, Westford',
  84923,
  '(833) 499-3527',
  '9',
  '2012-08-10 17:52:03'),
 (16,
  'Baker',
  'Timothy',
  '329 James Street, Reading',
  58393,
  '833-941-0824',
  '13',
  '2012-08-15 10:34:25'),
 (17,
  'Pinker',
  'David',
  '5 Impreza Road, Boston',
  65332,
  '811 409-6734',
  '13',
  '2012-08-16 11:32:47'),
 (20,
  'Genting',
  'Matthew',
  '4 Nunnington Place, Wingfield, Boston',
  52365,
  '(811) 972-1377',
  '5',
  '2012-08-19 14:55:55'),
 (21,
  'Mackenzie',
  'Anna',
  '64 Perkington Lane, Reading',
  64577,
  '(822) 661-2898',
  '1',
  '2012-08-26 09:32:05'),
 (22,
  'Coplin',
  'Joan',
  '85 Bard Street, Bloomington, Boston',
  43533,
  '(822) 499-2232',
  '16',
  '2012-08-29 08:32:41'),
 (24,
  'Sarwin',
  'Ramnaresh',
  '12 Bullington Lane, Boston',
  65464,
  '(822) 413-1470',
  '15',
  '2012-09-01 08:44:42'),
 (26,
  'Jones',
  'Douglas',
  '976 Gnats Close, Reading',
  11986,
  '844 536-8036',
  '11',
  '2012-09-02 18:43:05'),
 (27,
  'Rumney',
  'Henrietta',
  '3 Burkington Plaza, Boston',
  78533,
  '(822) 989-8876',
  '20',
  '2012-09-05 08:42:35'),
 (28,
  'Farrell',
  'David',
  '437 Granite Farm Road, Westford',
  43532,
  '(855) 755-9876',
  '',
  '2012-09-15 08:22:05'),
 (29,
  'Worthington-Smyth',
  'Henry',
  '55 Jagbi Way, North Reading',
  97676,
  '(855) 894-3758',
  '2',
  '2012-09-17 12:27:15'),
 (30,
  'Purview',
  'Millicent',
  '641 Drudgery Close, Burnington, Boston',
  34232,
  '(855) 941-9786',
  '2',
  '2012-09-18 19:04:01'),
 (33,
  'Tupperware',
  'Hyacinth',
  '33 Cheerful Plaza, Drake Road, Westford',
  68666,
  '(822) 665-5327',
  '',
  '2012-09-18 19:32:05'),
 (35,
  'Hunt',
  'John',
  '5 Bullington Lane, Boston',
  54333,
  '(899) 720-6978',
  '30',
  '2012-09-19 11:32:45'),
 (36,
  'Crumpet',
  'Erica',
  'Crimson Road, North Reading',
  75655,
  '(811) 732-4816',
  '2',
  '2012-09-22 08:36:38'),
 (37,
  'Smith',
  'Darren',
  '3 Funktown, Denzington, Boston',
  66796,
  '(822) 577-3541',
  '',
  '2012-09-26 18:08:45')]

Q10: Produce a list of facilities with a total revenue less than 1000. 

The output of facility name and total revenue, sorted by revenue. Remember 

that there's a different cost for guests and members!

In [13]:
c.execute("SELECT name, \
                                SUM(CASE when memid = 0 then slots * guestcost else slots * membercost END) AS revenue \
                                FROM bookings \
                                LEFT JOIN facilities \
                                USING(facid) \
                                GROUP BY name \
                                HAVING revenue < 1000;")

In [14]:
pd.read_sql_query("SELECT name,SUM(CASE when memid = 0 then slots * guestcost else slots * membercost END) AS revenue FROM bookings LEFT JOIN facilities USING(facid) GROUP BY name HAVING revenue < 1000;", conn)

            name  revenue
0     Pool Table      270
1  Snooker Table      240
2   Table Tennis      180

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [15]:
pd.read_sql_query("SELECT a.surname || ', ' || a.firstname AS members, \
                            b.surname || ', ' || b.firstname AS recommended_by \
                            FROM members a, members b \
                            WHERE a.recommendedby >0 AND a.recommendedby = b.memid \
                            ORDER BY b.surname;", conn)

                     members      recommended_by
0          Sarwin, Ramnaresh     Bader, Florence
1               Coplin, Joan      Baker, Timothy
2           Genting, Matthew     Butters, Gerald
3             Baker, Timothy     Farrell, Jemima
4              Pinker, David     Farrell, Jemima
5          Rumney, Henrietta    Genting, Matthew
6             Jones, Douglas        Jones, David
7                Dare, Nancy    Joplette, Janice
8               Jones, David    Joplette, Janice
9                 Hunt, John  Purview, Millicent
10               Boothe, Tim         Rownam, Tim
11          Joplette, Janice       Smith, Darren
12           Butters, Gerald       Smith, Darren
13             Owen, Charles       Smith, Darren
14               Smith, Jack       Smith, Darren
15           Mackenzie, Anna       Smith, Darren
16  Worthington-Smyth, Henry        Smith, Tracy
17        Purview, Millicent        Smith, Tracy
18            Crumpet, Erica        Smith, Tracy
19               Baker, Anne    Stibbons, Ponder
20           Bader, Florence    Stibbons, Ponder
21          Stibbons, Ponder       Tracy, Burton

Q12: Find the facilities with their usage by member, but not guests

In [16]:
pd.read_sql_query("SELECT name, firstname || ' ' || surname AS member_name, \
                            COUNT(surname) AS 'usage' \
                            FROM bookings \
                            LEFT JOIN facilities USING(facid) \
                            LEFT JOIN members USING(memid) \
                            WHERE memid != 0 \
                            GROUP BY name, member_name;", conn)

                name       member_name  usage
0    Badminton Court    Anna Mackenzie     30
1    Badminton Court        Anne Baker     10
2    Badminton Court      Burton Tracy      2
3    Badminton Court      Charles Owen      6
4    Badminton Court      Darren Smith    132
..               ...               ...    ...
197   Tennis Court 2  Ramnaresh Sarwin     11
198   Tennis Court 2        Tim Boothe     52
199   Tennis Court 2        Tim Rownam      6
200   Tennis Court 2     Timothy Baker      7
201   Tennis Court 2       Tracy Smith      2

[202 rows x 3 columns]

Q13: Find the facilities usage by month, but not guests

In [17]:
pd.read_sql_query("SELECT strftime('%m', starttime) AS month, name, COUNT(name) AS 'usage' \
                            FROM bookings \
                            LEFT JOIN facilities USING(facid)\
                            WHERE memid != 0 \
                            GROUP BY month, name;",conn)

   month             name  usage
0     07  Badminton Court     51
1     07   Massage Room 1     77
2     07   Massage Room 2      4
3     07       Pool Table    103
4     07    Snooker Table     68
5     07     Squash Court     23
6     07     Table Tennis     48
7     07   Tennis Court 1     65
8     07   Tennis Court 2     41
9     08  Badminton Court    132
10    08   Massage Room 1    153
11    08   Massage Room 2      9
12    08       Pool Table    272
13    08    Snooker Table    154
14    08     Squash Court     85
15    08     Table Tennis    143
16    08   Tennis Court 1    111
17    08   Tennis Court 2    109
18    09  Badminton Court    161
19    09   Massage Room 1    191
20    09   Massage Room 2     14
21    09       Pool Table    408
22    09    Snooker Table    199
23    09     Squash Court     87
24    09     Table Tennis    194
25    09   Tennis Court 1    132
26    09   Tennis Court 2    126